# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/

# Virtual environment
ss_linux_env/
.venv/ # common alternative
env/ # common alternative

# PyInstaller
*.manifest
*.spec


# Environments (VS Code, etc.)
.env
.vscode/

# OS or Editor Temp Files
.DS_Store # macOS
Thumbs.db # Windows
tmp/

# Log files
*.log

# Configuration files (if they contain sensitive data)
config.ini
secrets.json
.aider*
.env

# Test Data
includes/tmp/
data/
!data/.gitkeep
static_site_zips/

