{% extends "_base.html" %}

{% block title %}About SlamSim!{% endblock %}

{% block content %}
<div class="header-bar">
    <h2>About SlamSim</h2>
</div>

<div class="content-section">
    <p>SlamSim is a tool designed to help you manage your simulated wrestling league. It allows you to create wrestlers, tag teams, divisions, belts, and events, and track their progress.</p>
    <p>SlamSim! is written in Python using Flask.</p> 
    <p>Version: 1.0 Beta 6</p>
    <p>Developed by: Gary Hartzell</p>
<p>Project Page: <a href="https://github.com/hartzelldev/slamsim" target="_blank">https://github.com/garymhartzell/slamsim</a></p> 
</div>
{% endblock %}
